
<table class="table table-bordered mt-4">
    <thead>
        <tr>
            @for (column of columns; track column.key) {
                <th>{{ column.title }}</th>
            }
            @if (columns.length < 8) {
                <th>Acciones</th>
            }
            
        </tr>
    </thead>

    <tbody>
        @for (row of data; track $index) {
            <tr>
                @for (column of columns; track column.key) {
                    <td>{{ row[column.key] }}</td>
                }
                @if (columns.length < 8) {
                    <td>
                        <button (click)="onEdit(row)" class="btn btn-sm btn-primary me-2">Editar</button>
                        <button (click)="onDelete(row)" class="btn btn-sm btn-danger">Eliminar</button>
                    </td>
                }
            </tr>
        } @empty {
            <tr>
                <td [attr.colspan]="columns.length + (columns.length < 8 ? 1 : 0)" class="text-center text-muted py-4">
                    <i class="fas fa-inbox fa-2x mb-2 d-block"></i>
                    No hay datos disponibles
                                            <div>{{ data }} </div>

                </td>
            </tr>
        }
    </tbody>
</table>